@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: rgb(199 210 254);
}

/* enroll student page */

.enroll-student-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enroll-student-page p {
  font-size: 3rem;
}

.enroll-student-page button {
  font-size: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  background-color: rgb(99 102 241);
}
